<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>HELLO</h1>
    <h2>FOLLOWING ARE THE SOME DETAILS ABOUT ME</h2>

    <H3>WELLCOME <%= details.Name %><br></H3>
    <H4><br> YOUR AGE IS <%= details.age %><br> AND YOUR CONTACT IS <%= details.contact %> <br>and your address is <%= details.address %></H4>
</body>
</html>